:root {
  --softShadow: 0px 0px 5px rgba(196, 196, 196, 1);
  --mediumShadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  --deepShadow: 3px 3px 3px rgba(196, 196, 196, 0.75);
  --deepMultiShadow: 0px 4px 4px rgba(0, 0, 0, 0.17), 0px 4px 20px rgba(0, 0, 0, 0.1);
}
